<?xml version="1.0" encoding="UTF-8" standalone="no"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication"><stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="GradleStart"/><stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="forge-1.9-12.16.1.1887-mdk"/><stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/matthewdaniel/Desktop/forge-1.9-12.16.1.1887-mdk/run"/><stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" -DFORGE_FORCE_FRAME_RECALC=true"/></launchConfiguration>